@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.container_wide {
  max-width: 1800px;
}
.container_fullWidth {
  max-width: none;
  padding-right: 20px;
}

.colGr {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  flex-wrap: wrap;
  gap: 40px;
}
.colGr > .colGr__col_1 {
  grid-column-end: span 1;
}
.colGr > .colGr__col_2 {
  grid-column-end: span 2;
}
.colGr > .colGr__col_3 {
  grid-column-end: span 3;
}
.colGr > .colGr__col_4 {
  grid-column-end: span 4;
}
.colGr > .colGr__col_5 {
  grid-column-end: span 5;
}
.colGr > .colGr__col_6 {
  grid-column-end: span 6;
}
.colGr > .colGr__col_7 {
  grid-column-end: span 7;
}
.colGr > .colGr__col_8 {
  grid-column-end: span 8;
}
.colGr > .colGr__col_9 {
  grid-column-end: span 9;
}
.colGr > .colGr__col_10 {
  grid-column-end: span 10;
}
.colGr > .colGr__col_11 {
  grid-column-end: span 11;
}
.colGr > .colGr__col_12 {
  grid-column-end: span 12;
}

.___was {
  font-family: "Montserrat", sans-serif;
}

.advanced-search_page_search-engines #wpwrap {
  background-color: rgb(231, 238, 250);
}

.___wasTable .colGr {
  row-gap: 20px;
}
.___wasTable__entry {
  background-color: white;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.03);
}
.___wasTable__entry:hover, .___wasTable__entry.open {
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1);
}
.___wasTable__entry.open .___wasTable__entryBody {
  max-height: none;
  height: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  opacity: 1;
}
.___wasTable__entry.openable .___wasTable__entryHeader {
  cursor: pointer;
}
.___wasTable__entryHeader {
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}
.___wasTable__entryBody {
  background-color: rgb(245, 247, 251);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  max-height: 0px;
  opacity: 0;
  transition: all 0.3s ease;
}
.___wasTable__entryTitle {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.___wasTable__entrySubtitle {
  margin: 0;
}
.___wasTable__header {
  min-height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  background-color: rgb(245, 247, 251);
  box-shadow: none;
}
.___wasTable__column_header {
  font-weight: 600;
  color: rgb(146, 151, 165);
}
.___wasTable__column_spacedVertically {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.___wasInputUnit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}
.___wasInputUnit__label {
  font-size: 0.875rem;
  cursor: pointer;
  margin-bottom: 5px;
}
.___wasInputUnit__hint {
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1rem;
  height: 1rem;
  margin-top: 5px;
  margin-bottom: 0px;
}
.___wasInputUnit__input {
  border-radius: 3px;
  border: 1px solid;
  width: 100%;
  border-color: rgba(38, 38, 38, 0.4);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.___wasInputUnit__input.hidden {
  display: none;
}
.___wasInputUnit__input_textarea {
  resize: none;
}
.___wasInputUnit__input:active {
  border-color: #7EA3CC;
  outline: none;
}
.___wasInputUnit__tags {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
  padding: 10px;
  gap: 5px;
}
.___wasInputUnit__tags span {
  background-color: rgba(0, 0, 255, 0.2);
  padding: 5px 7px;
  font-size: 13px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.___wasInputUnit__tags input {
  flex: 0 0 100%;
  margin-top: 5px;
}

.___wasDropdownOptions {
  width: 100%;
  position: relative;
}
.___wasDropdownOptions__input {
  width: 100%;
  max-width: 100% !important;
}/*# sourceMappingURL=search-ui.css.map */